@import './admin.css';

.set_height {
  height: 100vh;
  padding: 20px;
}

.margin_box {
  border-radius: 10px;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  text-align: center;
}

.question {
  height: 50%;
}

.set_full_height {
  height: 100%;
}

.question_position {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.question_position span {
  font-size: 30px !important;
  font-weight: 500;
}

@media only screen and (max-width: 576px) {
  .question_position {
    margin-bottom: 20%;
  }

  .question_position span {
    font-size: 20px !important;
  }

  .question.col {
    margin-top: 20%;
  }
}

@media only screen and (max-width: 900px) {
  .question_position {
    margin-bottom: 20%;
  }

  .question_position span {
    font-size: 25px !important;
  }

  .question.col {
    margin-top: 20%;
  }
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.answer_position {
  display: flex;
  position: absolute;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 60%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ranking_title {
  height: 56px;
}

.rank {
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  height: 84%;
}

@media only screen and (max-width: 600px) {
  .box_color.col-12.col-md-4 {
    margin-top: 10%;
  }
}

.score_board {
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  height: 14%;
}

.blank_space{
  height: 2%;
}

.score_board p:first-child {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.score_board p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

.box_color {
  padding-right: 10px !important;
  padding-left: 10px !important;
  height: 100% !important;
}

.person_rank_box {
  height: 67vh;
  overflow: auto;
}

.ranking_title span {
  font-size: 2rem;
  font-weight: 500;
}

.person_rank {
  margin: auto;
  margin: 5%;
  width: 90%;
  border: 1px solid #007bff !important;
  border-radius: 16px;
}

.person_rank p {
  margin: auto;
}

.user_account {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

.user_account span {
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.ellipsis {
  display: inline-block;
  width: calc(50% + 1.2em);
  text-overflow: ellipsis;
}

.indent {
  display: inline-flex;
  width: calc(50% - 1.2em);
  justify-content: flex-end;
}

.countdownclock {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

canvas {
  display: flex;
}
